html{
  font-size: 10px;
}
body{
  margin: 0;
  padding-top:10vh;
}
p{
  padding:0;
  margin:0;
  font-family: font;
  color: white;
  font-size:2em;
}
h1{
  font-family:fontSemi;
  font-size:3rem;
  color:white;
  margin: none;
  width:70%;
}
pblack{
  color: black;
  font-size: 1.5rem;
  font-family: font;
  font-weight: 100;
}
#h1b{
  font-family:fontSemi;
  font-size:2rem;
  color:black
}
ul{
  padding:0;
  margin:0;
  margin-bottom: 0.5rem;
}
@font-face {
  font-family: fontLight;
  src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: fontMedium;
  src: url('fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: fontSemi;
  src: url('fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: font;
  src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
#header{
  position: fixed;
  top:0;
  width:100vw;
  left:0;
  display:flex;
  justify-content: space-between;
  height: 10vh;
  background-color: white;
  align-items: center;
  z-index:1987981709832704917320941803271;
  transition: background-color 0.3s;
}
#header-logo{
  width: 5em;
  height:7em;
  margin-left: 2em;
}
#header-menu{
  padding-left:1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  border:black solid 0.1em;
  margin-right:2em;
  border-radius: 1284091740rem;
  background-color: white;
  font-size:1.5em;
}
.notify{
    padding-left:1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  border:black solid 0.1em;
  margin-right:2em;
  border-radius: 1284091740rem;
  background-color: white;
  color: black;
  font-size: 1.25rem !important;
  font-family: font;
  font-weight: 400;
  
}
#landing-page{
  height:90dvh;
  width:100vw;
  position:relative;
  background-color:#D2D0A6 ;
}
#landing-page-overlay{
  width:100vw;
  height:90vh;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  top:0;
  left:0;
}
#landing-page-title{
  position:absolute;
  bottom:5rem;
  left:0;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left:3rem;
  box-sizing: border-box;
}
#white{
  width: 3rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}
#lpt1{
  font-family: font;
  font-weight: 500;
  display:flex;
  align-items: center;
  color:white;
  font-size: 2rem;
  margin-bottom: 0  rem;
}
#landing-page-contact{
  background-color: rgba(255,255,255,0.31);
  width: 70vw;
  height: 6em;
  padding:1em;
  border-radius: 10000rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
#r1,#r2{
  display:flex;
  width:max-content;
  gap: 1em;
  padding: 1em;
  height: 100%;
  align-items: center;
  border-radius: 10001rem;;
  border:none;
}
#call,#msg{
  height:70%;
}

#about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:2rem;
  padding-left:2rem;
  padding-right:2rem;
  text-align: center;
}
#logo1{
  width: 5rem;;
}

#about-us-more{
  margin-top: 2rem;
  font-size:1.75rem;
  font-family: fontSemi;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:3.5rem;
  padding-right:3.5rem;
  border-radius: 1000rem;
  border:none;
  background-color: #D2D0A6;
  color:white;
}

#our-clinics{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clinic-list{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom:3rem;
  gap:2.5rem;
}
#clinic-box{
   margin-top: 10rem;
  transition: margin-top 0.5s ease-out;
}
#clinic-box,#clinic-box1{
  width:90vw;
  height:28rem;
  background-image: url("asset/teecareBG.png");
  background-size: 35rem;
  background-repeat: no-repeat;
  border-radius: 4rem;
 
  
}
#clinic-box1{
  background-image: url("asset/teedentalBG.png");
}
#clinic-box-overlay{
  width:100%;
  height:100%;
  display: flex;
  border-radius: 4rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 60%);
  position: relative;
}
#h1g,#address{
  position: absolute;
  top:2.3rem;
  text-align: center;
  color:white;
  font-family: font;
  font-weight:bold;
  font-size: 2.1rem;
  width:100%;
}
#address{
  top:5.05rem;
  font-family:font;
  font-weight: 500;
  font-size: 1.1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right:1rem;
  text-align: center;
  box-sizing: border-box;
}
#time{
  position: absolute;
  top: 9.5rem;
  color: white;
  font-family: font;
  font-weight:600;
  font-size: 1rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap:0.4rem;
  width:100%;
}
#stats{
  position:absolute;
  top: 12rem;
  color:white;
  display:flex;
  width:100%;
}
#patient-count{
  font-family: font;
  font-weight:500;
  font-size:1.5rem;
  width:50%;
  text-align: center;
  border-right: 0.1rem solid white;
}
#gaybitch{
  font-family:font;
  font-weight:500;
  font-size:1.5rem;
  width:50%;
  text-align: center;
}
#sub-stat{
  font-family:font;
  font-weight: 300;
  font-size: 1.1rem;
  display:block;
}
#clinic-contact-container{
  position:absolute;
  top: 20rem;
  width:100%;
  height:6rem;
  display:flex;
  justify-content: center;
}
#clinic-contact{
  padding-left:0.5rem;
  padding-right:0.5rem;
  width:90%;
  height:100%;
  background-color: #F3F1E6;
  border-radius: 100rem;
  display:flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
}
#call-clinic,#call-clinic2{
  display:flex;
  align-items: center;
  font-family: font;
  font-weight:400;
  font-size:1.5rem;
  border:none;
  background-color: #E3E1C8;
  padding-left:0.75rem;
  padding-right:0.75rem;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  border-radius:10928019842019824091802498102481028401284012rem;
}
#call-clinic2{
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}
#call-img{
  width:3rem;
  margin-right:0.5rem;
}
#call-img2{
  width:3rem;
  margin-right:0rem;
}
#clinic-box-more{
  position: absolute;
  right: 1.5rem;
  top:1.5rem;
  background-color: #D2D0A6;
  border:none;
  font-family: font;
  font-weight:500;
  font-size:1rem;
  color:white;
  padding-left:1rem;
  padding-right:1rem;
  border-radius:11rem;
}

#our-services{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#services-list{
  margin-top: 2.5rem;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#service-item{
  width:90%;
  background: linear-gradient(270deg,rgba(242, 242, 242, 1) 0%, rgba(231, 230, 219, 1) 100%);
  display:flex;
  flex-direction: column;
  height: 20rem;
  border-radius: 2rem;
  padding:2rem;
  box-sizing: border-box;
  padding-left:2rem;
  
}
.service-gat{
  margin-top:1rem;
  transition: margin-top 0.3s;
}

.gat1{
  opacity:1;
  transition: opacity 0.15s;
}
.gat2{
  opacity:1;
  transition: opacity 0.15s;
}

.gayt{
  align-items: end;
  text-align: end;
  background: linear-gradient(90deg,rgba(242, 242, 242, 1) 0%, rgba(231, 230, 219, 1) 100%) !important;
}

#hpNum{
  color:white;
  bottom: 0.5rem;
  position:absolute;
    font-family:font;
  font-weight: 600;
  font-size: 1rem;
  width:100%;
  text-align: center;
}

#service-logo{
  width:12.5%;
  background-color: #F3F1E6;
  padding-top:0.5rem;
  padding-left:1rem;
  padding-right:1rem;
  border-radius:1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  margin-bottom: 1.5rem
}

#service-desc,#service-progress{
  font-weight:300;
}
#service-progress,#rating-progress{
  font-weight:400;
  font-family: font;
  font-size: 1.5rem;
  width: max-content;
  display:flex;
  align-items: center;
}
#next-service{
  display:flex;
  gap: 1.5rem;
}
#next-button{
  font-size: 3rem;
  font-family: font;
  font-weight:500;
  background-color: #F3F1E6;
  padding-left:1rem;
  padding-right:1rem;
  border:none;
  border-radius:1029rem;
  box-shadow: 0 0 0.75rem rgba(0,0,0,0.3);;
  transition: background-color 0.2s
}
#next-button:active{
  background-color: #cac9c0;
}
#ratings{
  margin-top: 5rem;
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#alot-ppl{
  font-family:font;
  font-weight: 600;
  font-size: 4rem;
}
#h1c{
  font-family:fontSemi;
  font-size:1.5rem;
  color:black
}
#ratings-carousel{
  margin-top: 2.5rem;
  height: 20rem;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: max-content;
  overflow:hidden;
  animation: scroll 15s linear infinite;
  margin-left: 100dvw;
}
.ratings-carousel1{
  animation: scrolly 15s linear infinite !important;
}
#ratings-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width:90dvw;
  height: 17.5rem;
  background: linear-gradient(90deg,rgba(210, 208, 166, 1) 0%, rgb(214, 205, 142) 100%);
  gap: 2.5rem
}
@keyframes scrolly {
      0% {
        transform: translateX(-52.5%);
      }
      100% {
        transform: translateX(0); 
      }
    }

 @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-52.5%);
      }
    }
#ratings-desc{
  font-family:font;
  font-weight: 500;
  font-size: 1.1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right:1rem;
  text-align: center;
  box-sizing: border-box;
}
#ratings-author{
  width:100%;
  text-align: start;
  font-family: font;
  font-size: 1.5rem;
  font-weight:500;
  display:flex;
  align-items: center;
  padding-left: 2.5rem;
  box-sizing: border-box;
}
#service-desc2{
  font-weight:300;
  font-size: 1rem;
  padding-left: 0.5rem;
}
